body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header {
    background-color: #003b64; 
    padding: 20 15px;
    text-align: center;
    color: white;
}
.highlight {
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em; 
    color: #333;
}
section#contact {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#contact h2 {
    color: #003b64;
    margin-bottom: 15px;
}

section#contact p {
    line-height: 1.6;
    margin-bottom: 10px;
}

section#contact a {
    color: #007acc; 
    text-decoration: none;
}

section#contact a:hover {
    text-decoration: underline;
}