body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #003b64;
    padding: 30px 20px;
    text-align: center;
    color: white;
}
section {
    margin: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex-basis: 45%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.box h2 {
    color:#003b64;
}
.box p {
    line-height: 1.6;
}
footer {
    background-color: #003b64;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 20px;
}