body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px 0;
    margin: 0;
    background-color: #f3f4f6;
    background: url('../images/background.jpg') no-repeat center center fixed; 
    background-size: cover;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 59, 100, 0.6); 
    z-index: 1;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.login-container:hover {
    transform: translateY(-5px); 
}

.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #555;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007acc;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);
}

.login-container button {
    width: 100%;
    padding: 0.8rem;
    background-color: #003b64;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #005a99;
    transform: scale(1.05);
}

.login-container .links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.login-container .links a {
    color: #007acc;
    text-decoration: none;
}

.login-container .links a:hover {
    text-decoration: underline;
}
footer {
    width: 100%;
    background-color: #003b64;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}