body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #003b64;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #ffcc00;
}

main {
    padding: 20px;
}

.line-map {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
}

footer {
    background-color: #003b64;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: static;
    bottom: 0;
}

section#contact a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

section#contact a:hover {
    color: #ffcc00;
}

section#contact i {
    font-size: 24px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    main {
        padding: 10px;
    }
}

html {
    scroll-behavior: smooth;
}

.carousel {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

table,th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #003b64;
    color: white;
}

th,td {
    padding: 10px;
}

details {
    margin-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
    margin: 20px 0;
}

.daltonismo-container {
    margin: 20px 0;
    text-align: center;
}
body.protanopia {
    filter: url(#protanopia);
}

body.deuteranopia {
    filter: url(#deuteranopia);
}

body, p, h1, h2, h3, h4, h5, h6, a, span {
    font-size: 16px; 
}

body.tritanopia {
    filter: url(#tritanopia);
}

body.small-font {
    font-size: 14px;
}

body.large-font {
    font-size: 18px;
}

body.extra-large-font {
    font-size: 22px;
}

.accessibility-options input {
    display: none;
}

.accessibility-options label {
    padding: 10px;
    background-color: #eee;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:checked + label {
    background-color: #003b64;
    color: white;
}

.filter-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #003b64;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-button:hover {
    background-color: #ffcc00;
}


svg {
    display: none;
}