.carrossel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #f1f1f1;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.carrossel-images img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}


.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-prev, .carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.carrossel-prev:hover, .carrossel-next:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}


.carrossel-prev {
    left: 0;
}

.carrossel-next {
    right: 0;
}


.carrossel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.active, .dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}


@media (max-width: 768px) {
    .carrossel-prev, .carrossel-next {
        font-size: 14px;
        padding: 8px;
    }
}
